<div class="alert alert-success" *ngIf="successMsg">
  <p>Station edited.</p>
</div>
<div class="alert alert-danger" *ngIf="errorMsg">
  <p>Station exists, choose another.</p>
</div>
<div class="alert alert-danger" *ngIf="errorMsg2">
  <p>Problem editing Station, try later.</p>
</div>

<h1 class="station-station_id">Edit {{ station?.station_id }} station</h1>
<!--<h1 class="user-password">Edit {{ user?.password }} user</h1>-->
<a class="btn btn-primary" routerLink="/admin/stations">Back to all stations</a>
<br>
<br>

<form novalidate #f="ngForm" (ngSubmit)="editStation(f)">

  <div class="form-group">
      <label for="">Station Id:</label>
      <input type="text" class="form-control" placeholder="Station Id" name="station_id" [(ngModel)]="station_id" #stationStation_id="ngModel"
           required />
  </div>
  <div class="alert alert-danger" *ngIf="stationStation_id.errors?.required && stationStation_id.touched">
      StationId is required.
  </div>
  
  <div class="form-group">
    <label for="">Devices Count:</label>
    <input type="text" class="form-control" placeholder="Devices Count" name="devices_count" [(ngModel)]="devices_count" #stationDevices_count="ngModel"
         required />
  </div>

  <input type="hidden" name="id" [(ngModel)]="id">

  <div class="form-group">
      <button class="btn btn-default" [disabled]="!f.valid">Edit station</button>
  </div>

</form>

