<nav class="navbar navbar-inverse admin">
    <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a routerLink="admin/pages">Pages</a></li>
            <li><a routerLink="admin/sidebar">Sidebar</a></li>
            <li><a routerLink="admin/users">Users</a></li>
            <li><a routerLink="admin/stations">Stations</a></li>
            <li><a routerLink="admin/devices">Devices</a></li>
            <li><a routerLink="admin/winning-nos">Winning No.s</a></li>
        </ul>
    </div>
</nav>