<div class="alert alert-success" *ngIf="successMsg">
    <p>Station added.</p>
</div>

<div class="alert alert-danger" *ngIf="errorMsg">
    <p>Station exists, choose another.</p>
</div>

<h1 class="page-title">Add a Station</h1>
<a class="btn btn-primary" routerLink="/admin/stations">Back to all stations</a>
<br>
<br>

<form novalidate #f="ngForm" (ngSubmit)="addStation(f)">

    <div class="form-group">
        <label for="">Station Id:</label>
        <input type="text" class="form-control" placeholder="StationId" name="station_id" [(ngModel)]="station_id" #stationStation_id="ngModel"
           required />
    </div>
    <div class="alert alert-danger" *ngIf="stationStation_id.errors?.required && stationStation_id.touched">
      StationId is required.
    </div>
    

    <div class="form-group">
        <label for="">Devices Count:</label>
        <input type="text" class="form-control" placeholder="Devices Count" name="devices_count" [(ngModel)]="devices_count" #stationDevices_count="ngModel"
             required />
    </div>

    <div class="form-group">
        <button class="btn btn-default" [disabled]="!f.valid">Add Station</button>
    </div>

</form>

